.input{
    color: rgb(48, 46, 46);
    height: 41px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input:focus{
    border: 1px solid rgb(8, 153, 51);
    outline: none;
}
.label{
    color: rgb(67, 68, 68);
    font-size: 14px;
}
.textarea{
    height: 80px;
    color: rgb(48, 46, 46);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.textarea:focus{
    outline: none;

}