/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/component/form/form.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.form_input__iyZ_d{
    color: rgb(48, 46, 46);
    height: 41px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form_input__iyZ_d:focus{
    border: 1px solid rgb(8, 153, 51);
    outline: none;
}
.form_label__b_q_5{
    color: aliceblue;
    font-size: 14px;
}
.form_textarea__hwnN_{
    height: 80px;
    color: rgb(48, 46, 46);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form_textarea__hwnN_:focus{
    outline: none;

}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/component/form/formMobile.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.formMobile_input__0cycu{
    color: rgb(48, 46, 46);
    height: 41px;
    border-radius: 5px;
    border: none;
    padding: 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formMobile_input__0cycu:focus{
    border: 1px solid rgb(8, 153, 51);
    outline: none;
}
.formMobile_label__BnVGp{
    color: rgb(67, 68, 68);
    font-size: 14px;
}
.formMobile_textarea__dKIq_{
    height: 80px;
    color: rgb(48, 46, 46);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formMobile_textarea__dKIq_:focus{
    outline: none;

}
